# Maven
target/

# Environment & Local Secrets Configuration
config.properties
*.local.properties
config.local.properties
*.env
db.properties
.env

# NetBeans
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

# VS Code
.vscode/

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db